{% extends "base.html" %}
{% load static %}
{% block title %}Home - Saraswatinagar Institute{% endblock %}

{% block content %}
<div style="position: relative; width:max-content; overflow: hidden; display: flex;  align-items: center;">
  <!-- Background Image -->
  <div>
    <img src="{% static 'images/study.png' %}" alt="" style="width: 1520px; ">
  </div>

  <!-- Overlay Content -->
  <div style="position: absolute; text-align: left; margin-left: 100px;">
    <p style="color: white; font-size:30px; margin-bottom: 10px; flex-direction: column;">
      "Empowering Minds,
       
    </p>
    <p style="color: white; margin-left: 30px; font-size:30px; margin-bottom: 10px; flex-direction: column;">
      
       Shaping Tomorrows"
    </p>
    <a href="{% url 'course' %}"><button  class="buttonhover">
      Find the courses <i style="margin-left: 5px;" class="fa-solid fa-arrow-right"></i>
    </button></a>
  </div>
</div>


  <!-- Why Choose Section -->
  <section class="why-choose">
    <h2>Why Choose Saraswatinagar Institute</h2>
    <p>We provide quality education, skilled instructors, and modern resources to help you succeed.</p>
  </section>

  <!-- Courses Grid -->
  <section class="courses">
    <h2 style="text-align:center;">Our Courses</h2>
    <div class="courses-grid">
        {% for c in course %}
          
      
      <div class="course-card">
        <div style="width: 200px;"><a href="{% url 'description' c.id %}"><img src="{{c.cimage.url}}" style="object-fit: cover; width: 300px;" alt="Course 1"></a></div>
        <div style="margin-top: auto;">
           <h3>{{c.name}}</h3>
        <p>Duration:{{c.duration}}</p>
        <p>Fee: Rs. {{c.fee}}</p>
        <a href="{% url 'description' c.id %}"><button>View </button></a>
        </div>
       
      </div>
        {% endfor %}
    </div>
  </section>

  <!-- Join Us Section -->
  <section class="join-us">
    <h2 style="text-align: center;">We are on a Mission,Join Us</h2>
    <div class="join-us-images">
        {% for j in join %}
      <img src="{{j.simage.url}}" alt="Join Image 1">
       {% endfor %}
    </div>
  </section>

  <!-- Testimonials Section -->
  <section class="testimonials">
    <h2>What Our Students Say</h2>
    <div class="testimonial-container">
        {% for i in test %}
      <div class="testimonial">
        <img src="{{i.profile.url}}" alt="Student 1">
        <div class="testimonial-content">
          <h4>{{i.name}}</h4>
          <p>{{i.comments}}</p>
        </div>
      </div>
        {% endfor %}
      
    </div>
  </section>
{% endblock %}
